<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
	<configuration>
		<settings><!--myBatis가 NULL값을 NULL로 받아드리게 해주는 세팅 -->
			<setting name="jdbcTypeForNull" value="NULL"/>
		</settings>
		<!-- VO가 생성될 때 마다 추가 -->
 		<typeAliases>
 			<typeAlias type="com.kh.areyout.manager.member.domain.MemberVO" alias="Member"/>
 			<typeAlias type="com.kh.areyout.manager.message.domain.MessageVO" alias="Message"/>
 			<typeAlias type="com.kh.areyout.manager.askmessage.domain.AskMessageVO" alias="AskMessage"/>
 			<typeAlias type="com.kh.areyout.manager.notice.domain.NoticeVO" alias="Notice"/>
 		</typeAliases>
 	<!-- mapper.xml이 생성될 때마다 추가 -->
 	<mappers> 
 		<mapper resource="mappers/member-manager-mapper.xml"/>
 		<mapper resource="mappers/message-manager-mapper.xml"/>
 		<mapper resource="mappers/ask-message-mapper.xml"/>
 	</mappers>
</configuration>